.thumbnail-image {
  width: 220;
  height: 150px;
  cursor: pointer;
}
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-content {
  background-color: #ffffff;
  border-radius: 15px;
  width: 750px;
  height: 460px;
}
.close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  align-self: flex-end;
}
.thumbnail-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    width: 260px;
    height: 170px;
  }
}
